.post-card {
  @apply bg-white text-black rounded p-3;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    height: 100%;
  }

  &__title {
    @apply text-blue;
    line-height: 1.5;
  }

  &__body {
    line-height: 1.5;
  }

  &__user-name {
    @apply text-gray-400;
  }
}
